extends layout

block content
  div.page-header
    h1 Welcome to #{title}
  ul
    li
      a(href='/user/signup') Signup
    li
      a(href='/user/login') Login
    li
      a(href='/users') Userlist
    li
      a(href='/tournament') Tournament
