doctype 5
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    // Bootstrap
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  body
    script(src='/javascripts/jquery-1.10.0.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    div.container
      div.masthead.navbar-inner
        ul.nav.nav-pills.pull-right
          li
            a(href='/') Home
          li
            a(href='/user/signup') Signup
          li
            a(href='/user/login') Login
          li
            a(href='/users') Userlist
          li
            a(href='/tournament') Tournament
        h3.muted Match-System	
        
        a(href='/logout') logout
      div.hero-unit
        block content