extends layout

block content
  h3= title


  form(action='/userlogin', method='post')
    input(id='username', type='text', value='', name='username', placeholder='Username')
    br
    input(id='password', type='password', value='', name='password', placeholder='Password')
    br
    input(type='submit').btn
  br
  a(href='/') Back to Home
