extends layout

block content
  h3 Welcome to #{title}


  if !playerlist
    p no players yet!
  else
    - var number = 0;
    div.well
        table.table
            thead
                tr
                    th #
                    th Username
                    th E-Mail

            tbody
                for entry in playerlist
                    - number++;
                    tr
                        td= number
                        td babedi bubedi
                        td bibedie babedi




  form(action='/enterTournament', method='post')
    input(type='submit', value='Enter Tournament').btn
  form(action='/leaveTournament', method='post')
    input(type='submit', value='Leave Tournament').btn

  br
  a(href='/') Back to Home
