extends layout

block content
  div.page-header
    h1 Tournament list
      if user.isAdmin
        div.pull-right
          a(href='/tournament/create').btn Create tournament

  if !tournaments
    p no tournaments yet!
  else
    ul.thumbnails
      for entry in tournaments
        li.span3
          div.thumbnail
            img(src='http://placehold.it/260x130', style='margin-right: 10px;')
            h4 #{entry.title}
              if entry.status == 'open'
                small  Open for enrollment
              else if entry.status == 'run'
                small  Currently running
            p
              i.icon-group
              span  #{entry.users.length} users joined.
            a(href='/tournament/' + entry._id).btn Details

