extends layout

block content
  div.page-header
    h1 A tournament (title missing...)


  if !playerlist
    p no players yet!
  else
    div.well
      table.table
        thead
          tr
            th #
            th Username
            th E-Mail
        tbody
          for entry, number in playerlist
            tr
              td= number
              td babedi bubedi
              td bibedie babedi




  form(action='/tournament/#{tournamentId}/enter', method='post')
    input(type='submit', value='Enter Tournament').btn
  form(action='/tournament/#{tournamentId}/leave', method='post')
    input(type='submit', value='Leave Tournament').btn

  br
  a(href='/') Back to Home
