extends layout

block content
  div.page-header
    h1 Tournament list

  if !tournaments
    p no tournaments yet!
  else
    ul.thumbnails
      - var number = 0;
      for entry in tournaments
        - number++;
        li.span5.clearfix.thumbnail.clearfix
          img.pull-left.span2.clearfix(src='http://placehold.it/320x280', alt='ALT NAME', style='margin-right: 10px;').pull-left
          a.btn.btn-primary.icon.pull-right(href='/tournament/' + entry._id) Select
          h4
            a(href='#')= entry.title
            small
              b Open for enrollment
              | #{entry.enroll}
