extends layout

block content
  h3 Welcome to #{title}


  if !playerlist
    p no players yet!
  else
    ul
      for player in playerlist
        li= player.players[0].username
    


  form(action='/enterTournament', method='post')
    input(type='submit', value='Enter Tournament')
  form(action='/leaveTournament', method='post')
    input(type='submit', value='Leave Tournament')

  br
  a(href='/') Back to Home
